# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Database
*.sqlite3
db.sqlite3

# Media files
media/

# Django static collected files
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db